* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}

/* header and navigation styles */
.nav-title {
    font-weight: 800;
    font-size: 45px;
}

.text-primary {
    color: #FD6E0A;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 51px 226px;
}

nav li {
    list-style: none;
    margin-left: 51px;
}

nav ul {
    display: flex;
    align-items: center;
}

/* Working with btn */
.btn-primary {
    width: 150px;
    height: 70px;
    font-weight: 700;
    font-size: 15px;
    border: 2px;
    border-radius: 5px;
    background: #FD6E0A;
    color: #FFFFFF;
    padding: 18px 35px;

}

/* header banner styles */
.banner {
    display: flex;
    margin: 0 200px;
    align-items: center;
}

.banner-sub-title {
    width: 227.53px;
    height: 61px;
    font-weight: 600;
    font-size: 45px;
    color: #474747;

}

.banner-title {
    width: 640.16px;
    height: 116px;
    font-weight: 700;
    font-size: 85px;
    color: #181818;
    margin-top: 5px;
    margin-bottom: 10px;
}

.banner-description {
    width: 752px;
    height: 60px;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
    margin-bottom: 30px;
}

/* overall header background setup */
.header-overall {
    background-color: #FFFFFF;
    background-image: url('../images/header_bg.png'), url('../images/developer.png');
    background-repeat: no-repeat;
    background-position: bottom right, left;
}

/* main section styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

/* about section styles */
.about {
    background: #FFF8F3;
    padding: 130px 150px;
    text-align: center;
}

.section-title {
    text-align: center;
    margin-bottom: 30px;
    color: #181818;
    font-weight: 700;
    font-size: 35px;

    /*     text-align: center;
    margin-bottom: 30px;
    width: 169px; don't use width if want to center..it doesn't work
    height: 48px;
    font-weight: 700;
    font-size: 35px;
    color: #181818; */
}

.section-description {
    margin-bottom: 30px;
    width: 827px;
    height: 120px;
    font-weight: 400;
    font-size: 18px;
    color: #757575;
}

/* container with 'flexbox styles */
.about-info-container {
    display: flex;
    justify-content: space-around;
}

.info-title {
    font-weight: 400;
    font-size: 20px;
    color: #757575;
}

.info-description {
    font-weight: 700;
    font-size: 20px;
    color: #474747;
}
